*{

padding:0;
margin:0;
box-sizing:border-box;


}
body
{

	background-color:#efefef;
}
main
{
width:70%;
padding:50px;
margin:auto;
display: flex;
justify-content: center;
flex-wrap: wrap;

}
.photo
{

width: calc(50% - 40px);
height:calc((35vw - 40px)/16*9);
margin:10px;
background-color:indigo;

background-position: center;
background-size: cover;


}
h1
{


	width: 100%;
	text-align: center;
	font-size: 48px;
}
.photo1
{

background-image: url(../img/img1.jpg);

}.photo2
{

background-image: url(../img/img2.jpg);

}.photo3
{

background-image: url(../img/img3.jpg);

}.photo4
{

background-image: url(../img/img4.jpg);

}.photo5
{

background-image: url(../img/img5.jpg);

}.photo6
{

background-image: url(../img/img6.jpg);

}.photo7
{

background-image: url(../img/img7.jpg);

}.photo8
{

background-image: url(../img/img8.jpg);

}